on:
  push:
    branches: [ main ]

jobs:
  build_android_debug:
    name: Build Android Debug
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Create .env file for Production
        run: echo "BASE_URL=${{ secrets.PROD_BASE_URL }}" > .env

      - name: Install dependencies
        run: flutter pub get

      - name: Build Android APK (Debug, arm64 only)
        run: flutter build apk --debug --target-platform android-arm64

      - name: Upload Debug APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: build/app/outputs/flutter-apk/app-debug.apk