on:
  pull_request:
    branches: [ main ]

jobs:
  analyze_and_test:
    name: Analyze and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Create .env file
        run: echo "BASE_URL=${{ secrets.PROD_BASE_URL }}" > .env

      - name: Install dependencies
        run: flutter pub get

      - name: Generate files (build_runner)
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Run analyzer
        run: flutter analyze #--no-fatal-warnings

      - name: Run tests
        run: flutter test --coverage